@model Inventory.Models.MakeupProduct

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MakeupProduct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ounce)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ounce)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PricePerOunce)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PricePerOunce)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductLink)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductLink)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatePurchased)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatePurchased)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MakeupCategoryNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MakeupCategoryNavigation.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
