@model Inventory.Models.MakeupProduct

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MakeupProduct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ounce)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ounce)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PricePerOunce)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PricePerOunce)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductLink)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductLink)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MakeupCategoryNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MakeupCategoryNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
